* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.contacto__headerContainer {
    background-color: rgb(201, 50, 50);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contacto__tituloPrincipal {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.header__iconos {
    font-size: 3rem;
}

.header__iconos a{
    color: black;
    transition: 0.8s;
}

.header__iconos a:hover{
    color: white
}

.nav__input:checked + .nav__menu {
    background-color: rgb(201, 50, 50);
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  font-size: 2rem;
}

.nav__botones{
    text-decoration: none;
    color: black;
    --subrrayado: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__botones::after{
    content: "";
    display: block;
    background: black;
    height: 3px;
    width: 95%;
    margin-top: 3px;
    clip-path: var(--subrrayado);
    transition: 0.5s;
}

.nav__botones:hover{
    --subrrayado: polygon(0 0, 80% 0, 99% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

@media (max-width: 1100px){

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2.2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgba(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

@media screen and (max-width: 700px){

    .contacto__headerContainer {
        background-color: rgb(201, 50, 50);
        font-family: 'Roboto', sans-serif;
        margin: 20px;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .header__iconos{
        display: none;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgb(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

/*-.-.-.-.-.-.-.- FIN DEL HEADER -.-.-.-.-.-.-*/

/*-.-.-.-.-.- INICIO DEL MAIN -.-.-.-.-.-*/

body {
    background-color: rgb(218, 211, 211);
}

.contacto__mainContainer{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: 2 auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "titulo"
    "form1";
    text-align: center;
}

.contacto__mainTitulo {
    font-size: 1.2rem;
    grid-area: titulo;
}

.contacto__formulario{
    grid-area: form1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacto__formulario fieldset{
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    
}

input + label{
    padding: 1rem;
}

p{
    padding: 1rem;
}

/*-.-.-.-.-. fin del main -.-.-.-.-*/

/*-.-.-.-.-.-. inicio del footer -.-.-.-.-.-*/

footer {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(201, 50, 50);
    font-size: 2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}











