* {
    margin: 0;
    padding: 0;
}

/*-.-.-.-.-.-.- INICIO DEL HEADER -.-.-.--.-.-*/

body{
    background-color: rgb(218, 211, 211);
}

.empresa__headerContainer {
    background-color: rgb(201, 50, 50);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.empresa__tituloPrincipal {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.header__iconos {
    font-size: 3rem;
}

.header__iconos a{
    color: black;
    transition: 0.8s;
}

.header__iconos a:hover{
    color: white
}

.nav__input:checked + .nav__menu {                /*cuando esta chekeado el input (+ = a hermano adyacente)*/
    background-color: rgb(201, 50, 50);
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  font-size: 2rem;
}

.nav__botones{
    text-decoration: none;
    color: black;
    --subrrayado: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__botones::after{
    content: "";
    display: block;
    background: black;
    height: 3px;
    width: 95%;
    margin-top: 3px;
    clip-path: var(--subrrayado);
    transition: 0.5s;
}

.nav__botones:hover{
    --subrrayado: polygon(0 0, 80% 0, 99% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

@media (max-width: 1100px){

    body {
        background: linear-gradient(black, white);
    }

    .empresa__menu{
        order: 3;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2.2rem;
    }

    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgba(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

@media (max-width: 1100px){
    .empresa__headerContainer{
        margin: 10px;
    }
}

@media (max-width: 700px){

    .empresa__headerContainer{
        margin: 10px;
    }

    .empresa__tituloPrincipal{
        font-size: 2.3rem;
    }

    .header__iconos{
        display: none;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgb(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

/*-.-.-.-.-.-.-.- FIN DEL HEADER -.-.-.-.-.-.-*/

/*-.-.-.-.-.- INICIO DEL MAIN -.-.-.-.-.-*/



.empresa__mainContainer {
    background-color: white;
    min-height: 90vh;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto 150px auto;
    grid-template-areas: 
    "titulo"
    "parrafo"
    "aside"
    "sucursales";
    justify-items: center;
    align-content: space-between;
}

.empresa__mainTitulo{
    font-size: 1.5rem;
    font-family: 'Roboto';
    grid-area: titulo;
}

.empresa__mainParrafo{
    font-family: 'Roboto';
    grid-area: parrafo;

}

.empresa__mainAside{
    grid-area: aside;
}

.empresa__mainAside img{
    height: 150px;
    width: auto;
    border-radius: 10px;
}

.empresa__mainSucursales{
    font-size: 1.3rem;
    grid-area: sucursales;
}

@media (max-width: 1100px){

    .empresa__mainContainer {
        background-color: white;
        min-height: 90vh;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .empresa__mainSucursales{
        font-size: 1rem;
        padding-left: 1rem;
    }   
}

@media (max-width: 510px){

    .empresa__mainContainer {
        background-color: white;
        min-height: 90vh;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    .empresa__mainAside{
        display: none;
    }

    .empresa__mainSucursales{
        font-size: 1rem;
        grid-area: sucursales;
    } 
    
    footer {
        margin: 10px;
    }    
}


/*-.-.-.-.-.-.- fin del main -.-.-.-.-.-.-.-*/

/*-.-.-.-.-.-.- inicio del footer -.-.-.-.-.-.-*/

footer {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(201, 50, 50);
    font-size: 2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}

@media (max-width: 1100px){
    footer{
        margin: 10px;
    }
}

