* {
    margin: 0;
    padding: 0;
}

.servicios__headerContainer {
    background-color: rgb(201, 50, 50);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.servicios__tituloPrincipal {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.header__iconos {
    font-size: 3rem;
}

.header__iconos a{
    color: black;
    transition: 0.8s;
}

.header__iconos a:hover{
    color: white
}

.nav__input:checked + .nav__menu {
    background-color: rgb(201, 50, 50);
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  font-size: 2rem;
}

.nav__botones{
    text-decoration: none;
    color: black;
    --subrrayado: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__botones::after{
    content: "";
    display: block;
    background: black;
    height: 3px;
    width: 95%;
    margin-top: 3px;
    clip-path: var(--subrrayado);
    transition: 0.5s;
}

.nav__botones:hover{
    --subrrayado: polygon(0 0, 80% 0, 99% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

@media (max-width: 1100px){

    .servicios__headerContainer{
        margin: 10px;
    }

    .servicios__menu{
        order: 3;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2.2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgba(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

@media screen and (max-width: 700px){

    
    .header__iconos{
        display: none;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgb(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}
 

/*-.-.-.-.-.-.-.- FIN DEL HEADER -.-.-.-.-.-.-*/

/*-.-.-.-.-.- INICIO DEL MAIN -.-.-.-.-.-*/

body {
    background-color: rgb(218, 211, 211);
    height: 100%;
}

.servicios__mainContainer{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: 4 auto;
    grid-gap: 2rem;
    grid-template-areas:
    "titulo"
    "parrafo"
    "lista"
    "tabla";
    justify-items: center;
}

.servicios__mainTitulo{
    font-size: 1.5rem;
    grid-area: titulo;
}

.servicios__mainParrafo{
    grid-area: parrafo;
}

.servicios__mainList{
    grid-area: lista;
    font-size: 1.5rem;
}

.servicios__mainPromociones{
    grid-area: tabla;
    font-size: 1.5rem;
}

tr{
    text-align: center;
}

@media (max-width: 1100px){



    .servicios__mainContainer{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .servicios__mainList h4{
        margin-bottom: 1rem;
    }

    .servicios__mainList li{
        list-style: none;
        margin-bottom: 0.8rem;
    }    
} 

@media (max-width: 700px){

    .servicios__mainContainer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .servicios__mainList h4{
        margin-bottom: 1rem;
    }

    .servicios__mainList li{
        list-style: none;
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }    

    .servicios__mainPromociones{
        display: none;
    }
} 

/*-.-.-.-.-.-.-.- FIN DEL MAIN -.--.-.-.-.-.- */

/*-.-.-.-.-..-.- inicio del footer -.-.-.-..-.-*/

footer {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(201, 50, 50);
    font-size: 2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}

@media (max-width: 1150px){

    footer{
        margin: 10px;
    }

}









