 * {
     box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.home__headerContainer {
    background-color: rgb(201, 50, 50);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home__tituloPrincipal {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.header__iconos {
    font-size: 3rem;
}

.header__iconos a{
    color: black;
    transition: 0.8s;
}

.header__iconos a:hover{
    color: white
}

/*---------------*/

.nav__input:checked + .nav__menu {                /*cuando esta chekeado el input (+ = a hermano adyacente)*/
    background-color: rgb(201, 50, 50);
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  font-size: 2rem;
}

.nav__botones{
    text-decoration: none;
    color: black;
    --subrrayado: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__botones::after{
    content: "";
    display: block;
    background: black;
    height: 3px;
    width: 95%;
    margin-top: 3px;
    clip-path: var(--subrrayado);
    transition: 0.5s;
}

.nav__botones:hover{
    --subrrayado: polygon(0 0, 80% 0, 99% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

@media (max-width: 1100px){

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2.2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgba(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}

@media (max-width: 700px){

    .home__tituloPrincipal{
        font-size: 2rem;
    }

    .header__iconos{
        display: none;
    }

    .nav__label{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }


    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgb(201, 50, 50);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.7s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);

    }
}


/* -.-.-.-.-.-.-  FIN DEL HEADER -.-.-.-.-.-.*/

/*-.-.-.-.-.- INICIO DEL MAIN -.-.-.-.-.-.-.-*/

body {
    background-color: rgb(218, 211, 211);
}

.home__mainContainer{
    background-color: white;
    min-height: 90vh;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
    "card1 card2 aside"
    "card3 card4 aside"
    "maps maps aside"
    "big big aside";
}



.home__images{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
}

.home__images a{
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    transition: 0.9s;
}

.home__images a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    font-size: 3rem;
}

.imagen1{
    background-image: url(../img/tarjeta1.PNG);
    background-position: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: card1;
}

.imagen2{
    background-image: url(../img/tarjeta2.PNG);
    background-position: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: card2;
}

.imagen3{
    background-image: url(../img/tarjeta3.PNG);
    background-position: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: card3;
}

.imagen4{
    background-image: url(../img/tarjeta4.PNG);
    background-position: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: card4;
}

.home__mainBig{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    grid-area: big;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__mainAside{
    background-image: url(../img/aside.PNG);
    border-radius: 10px;
    grid-area: aside;
}

.home__ubicacion{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    grid-area: maps;
}

.home__ubicacion p{
    margin: 1rem;
    padding: 1rem;
}

@media (max-width: 1100px){

    .home__mainContainer{
        align-items: center;
        background-color: white;
        min-height: 90vh;
        margin: 20px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        
    }
    
    .home__images{
        height: 150px;
        width: 600px;
    }

}

@media (max-width: 700px){

    .home__mainContainer{
        align-items: center;
        background-color: white;
        min-height: 90vh;
        margin: 20px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        
    }

    .home__images{
        width: 290px;
        height: 100px;
    }

    .home__mainBig{
        font-size: 1.5rem;
    }

    .home__ubicacion{
        display: none;
    }

}



/*-.-.-.-.-.-.-.- FIN DEL MAIN -.-.-.-.-.-*/

/*-.-.-.-.-.-.-.- INICIO DEL FOOTER -.-.-.-.-*/

footer {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(201, 50, 50);
    font-size: 2rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}


/*-.-.-.-.-.-.- FIN DEL FOOTER -.-.-.-.-.-*/













/*
.home__images{
    display: inline-block;
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 1px;
    margin: 15px;
    box-shadow: 4px 4px 4px 4px;
    margin-top: 50px;

    
}

.home__images a {
    text-decoration: none;
}

#image1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/imagen1.PNG)
}

#image2{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/imagen2.PNG);
}

#image3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/imagen3.PNG);
}

.home__mainBig {
    font-family: cursive;
    font-size: 55px;
    margin-left: 400px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.home__ubicacion {
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    display: flex;
    border-left: none;
    border-right: none;
}

.home__mapa {
    display: inline-block;
    position: relative;
    
}

.home__mapa iframe{
    height: 400px;
    width: 400px;
    border: 0;
    padding: 15px;
}

.home__mapaComentarios {
    width: 650px;
    font-size: 35px;
    padding: 25px;
    margin-left: 150px;
}
*/

/*El parrafo quise colocarlo a la derecha del mapa, me fue inposible*/
/*Lo logre facilmente con flex, aunque no era la idea*/












 